


<footer class="page-footer">





    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="text-align: center;">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a class="nav-link active" [routerLink]="['/singup']" routerLinkActive="router-link-active">
        <a href="#!" class="btn btn-outline-warning btn-rounded">Sign up!</a></a>
      </li>
    </ul>


<div class="linka">


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://my.indeed.com/p/alakuntam-wb9eidh"> Mahesh</a>
  </div>
</div>

</footer>







