<app-navbar></app-navbar>

<div class="word">
<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
    <h4 class="mb-4">Hello </h4>
    <p>My name is Mahesh iam from hyderbad  i created task as per PDF requirement  </p>
    <p>I know  Angular8+(Front-end)FRAMEWORKS very well </p>
    <p>I dont know backend ,But i tried iam created login page, signup page, and demo page with linking and singout!! </p>


<p> If you Like my project Please let me  know </p>
<div class="footer-copyright text-center py-3">Linked-In:
    <a href="https://my.indeed.com/p/alakuntam-wb9eidh"> Mahesh</a>
  </div>

  </div>

</div>
