 .form-outline mb-4{
  border-bottom-color: red;
  box-shadow: 0 1px 0 0 red;
}
/* button.btn-submit{
  width: 100%
}

ul.answer li:hover{
  background-color: aqua;
  color: antiquewhite;
  cursor:pointer;
}
ul li.selected{
  background-color: aqua;
  color: antiquewhite;
}  */


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 130vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}


